{{#yield-content}}
<div class="k-widget">
    <div class="k-card" style="width: 300px;">
        <div class="k-card-header">
            <h5 class="k-card-title">Card Title</h5>
            <h6 class="k-card-subtitle">Card Subtitle</h6>
        </div>
        <div class="k-card-body">
            <p>Some quick example text to build on the card title and make up the bulk of the card content.</p>
        </div>
    </div>
</div>
<ul class="forms k-edit-form-container">
    <li>
        <label class="k-label">Username:</label>
        <input type="text" class="k-textbox" />         
    </li>
    <li>
        <label class="k-label">Password:</label>
        <input type="text" class="k-textbox" />         
    </li>
</ul>

{{/yield-content}}
